{% extends "blog/base.html" %}
{% block content %}
    <h1>Our Mission</h1>
    <h2> Our goal as an organization is to save the planet. How can we do this and accomplish such a big task? We need people, like you.
This site is to post what trash is seen around your area and how our users collect and clean up. They are able to post their contribution and see what you are doing.
As a small organization, we want to be able to partner with other companies to show that we are not alone. To have prizes and competition. Be able to help the world but also to have fun.
Users can create just user base profiles or have a profile representing a school/team/organization. This can show how your group is able to compete against others as well. When uploading a post please add the location, before picture, after picture and your names. Good luck! Save the planet at one pick at a time.</h2>
{% endblock content %}
